@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
  margin: 0;
  padding: 0;
  /* color: #d9d9d9; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

auth gard
a{
  margin-left: 10pt;
  padding: 12pt;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  height: 100vh;

}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background:#747171 ;
  color: #fff;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;

}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content::before{
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width:100%;
  background: #1a1a1a;
}
.box .content::after{
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background:#871198;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #fff;
  color: black;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social .fa-facebook:hover{
  background: #fff;
  color:#4169E1;
}
.left .content .social .fa-twitter:hover{
  background: #FFf;
  color:#00BFFF;
}
.left .content .social .fa-instagram:hover{
  background: #FFf;
  color: #C71585;
}
.left .content .social .fa-youtube:hover{
  background: #FFf;
  color: #FF0000;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #FFf;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #871198;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  text-align: justify;
}
.center .content .phone{
  margin: 10px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color:#871198;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #FFf;
  padding-left: 10px;
  border: 1px solid #871198;
}
.right form input:focus, .right form textarea:focus{
  outline-color: #A52A2A;
}
.right form input{
  height: 35px;
}
.right form .fbtn button{
  height: 40px;
  width: 100%;
  border: none;
  outline:none;
  background: #871198;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor:pointer;
  transition: 0.3s;
}
.right form .fbtn button:hover{
  background: #871198;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #FFf;
}
.bottom center span{
  color :#A52A2A;
}
.bottom center a{
  color:#3a9292;
  text-decoration: none;
}
.bottom center a:hover{
  color: black;
}
@media screen and (max-width: 900px){
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
    .main-content .box{
      margin: 5px 0;
    }
}
